<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Some kinda JS; filter doesn't work unless these are at the top ¯\_(ツ)_/¯ -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <style>
      body {
      	color: white;
        background-image: url('static/homepage_background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>
    <style>
img {
  border-radius: 75%;
}
</style>
	<div style = "position:relative; left:-500px; top:250px;text-align:center">
		<img class = "img-circle" style = "width: 200px;" src = "https://lh3.googleusercontent.com/e-camS_rfU348olwDRtC8O3CcPzZzQxiydLbY2A2hZt9F7MiPbRk0UushpjWDR4XNDDfDORno1n-pDGYaGBqLWgY1wp9Gfzr-mEi7I9DklzEa6aYWyFpeP3gTsrZ5H540-d9Yiey7HesX_cd-65674Jn_o0z0nw6m68brpGqeKi5hekmnUMbVAC5Hj8ClS_hS2za1dAdGsPzMyVO35FEhFrCWCNJznsQHwix0Z4K2yh6agIO29CIDxXFjjo95stRaNxuvALOUUDZ5h5U1-xg7VeBCt4KnMvoaCzCZJhypRskJUmy4SXRenjT9Lpi-RlXx92971Q4o5RvzbotPIVBynpdbs7do8iVfTwrqudbYoBWb0pac3zh7zEtK2Zxrym2x0A7dI4brd_jj-E7iY4eQ3vIGBSLZw8fh32z70vYA5etKsu_nEu8tPLFCd0K4CvQbZxmHobSSWosQuwR8_ZzB2gYq57J5AIvhq9KCEjMxreWOmH2W6ACzzjBo_RcIoemsxwyLwD-Kv_MkzvhwFmOBoFFALMOBvKKUOltqR7xg6xmPKwMsoRde_7vIBOt24jpw0yPomujvmq3DtkHDjEG2_amMfcnU4Fab2xagSUM7qO3K7YQvLrSO5B4-vxBc_k4UFKdw37_MHOQBwRs4BQeko1g6B6WG1ZpI4SrLUyqi5gS0mrXvlgFox37CQDiwg=w1370-h1826-no?authuser=0"/>
		<br/>
		Jonathon Wade 
		<br>jmwade5@memphis.edu
		<br>Spring 2022
	</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>


