<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>{{ title }}</title>
  </head>
  <body>

<h1>{{ title }}</h1>
  
  <form method="post">
  <div class="form-group">
    <label>Department</label>
    <input type="text" name="department" class="form-control" placeholder="EECE">
  </div>
  <div class="form-group">
    <label>Title</label>
    <input type="text" name="title" class="form-control" placeholder="Professional Development">
  </div>
   <div class="form-group">
    <label>Course Number</label>
    <input type="number" name="number" class="form-control" placeholder="4279">
  </div>
   <div class="form-group">
    <label>Section</label>
    <input type="number" name="section" class="form-control" placeholder="001">
  </div>
   <div class="form-group">
    <label>Description</label>
    <input type="text" name="description" class="form-control" placeholder="IDK CHANGE THIS">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>