<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>{{ title }}</title>
    <style>
body {
  background-image: url('static/homepage_background.jpg');
  background-repeat: no-repeat;
  background-size: cover; 

}
</style>
  </head>
  <body>
    <h1>{{ title }}</h1>
<style>
        h1 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}
        #heading { color: #FFFFFF; }
    </style>    
    
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Courses for:</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Biomedical (BIOM) <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Civil (CIVL) </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Computer/Electrical (EECE) </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Mechanical (MECH) </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Engineering Technology (TECH) </a>
      </li>
    </ul>
  </div>
</nav>




<div class="text-center">
<a class = "btn btn-primary" href="/create"> Add a course! </a>
</div>

</body>


